@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=BBH+Sans+Bartle&family=Dancing+Script:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
body{
  font-family: "Inter", sans-serif;
  background-color: black;
  color: #FFFFFF;
}
.loader{
  border:6px solid #f3f3f3;
  border-top: 6px solid black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 50px auto;
}
@keyframes spin{
  0%{transform: rotate(0dge);}
  100%{transform: rotate(360deg);}
}
.underline{
  background-color: #FFFFFF;
  height: 1px;
}
.post-container{
  max-width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;

}
.post-card{
  width: 250px;
  border: 1px solid #FFFFFF80;
  border-radius: 8px;
  /* overflow: hidden; */
  transition: 0.2s ease;
  /* padding-bottom: 10px; */
  cursor: pointer;
  padding: 5px;
 
}
.post-card :hover{
  transform: scale(1.02);
}
.post-card p{
  margin-left: 10px;
  text-wrap: wrap;
  font-size: 14px;
  line-height: 1.3;
}
.post-card img{
  width: 100%;
  display: block;
  height: 160px;
  object-fit: cover;

}
.read-btn{
  margin-left: 10px;
  margin-top: 5px;
  background: transparent;
  color:#FFFFFF80;
  font-weight: bolder;
  border: none;
  padding: 4px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;

}
.single{
  margin: auto;
}
.singleCard{
  padding: 30px;
  width: 30%;
  margin: auto;

}
.heading{
  text-align: center;
  font-size: larger;
}
